
/*--------------- basic styling --------------- */
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: "Roboto Mono" !important;
      background: #f1f1f1 !important;
      color: #111111 !important;
}

.whitespace {
      width: 100%;
      height: 100px;
}

@media(max-width: 768px) {
      .whitespace {
            display: none;
      }
}

/*--------------- typewriter effect --------------- */
.line {
      width: 24em;
      top: 50%;
      margin: auto;
      border-right: 2px solid #111111;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
}

.anim-typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 18em;
      }
}

@media(max-width: 768px) {
      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 17em;
            }
      }
}

@keyframes blinkTextCussor {
      from {
            border-right-color: #111111;
      }
      to {
            border-right-color: transparent;
      }
}

/*--------------- navigation --------------- */
nav {
      width: 100%;
      background: #f1f1f1;
      height: 80px;
      position: fixed;
      z-index: 1;
}

nav #brand {
      float: left;
      display: block;
      margin-left: 82px;
      line-height: 80px;
      font-weight: bold;
}

nav #brand a {
      color: #111111;
      transition: all 0.3s ease-out;
}

nav #brand a:hover {
      text-decoration: none;
}

nav #menu {
      float: left;
      right: 80px;
      position: fixed;
}

nav #menu li {
      padding-left: 40px;
      display: inline-block;
      cursor: pointer;
      font-weight: 300;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out;
}

nav #menu li span {
      font-weight: 700;
}

nav #menu li a {
      color: #111111;
}

nav #menu li a:hover {
      text-decoration: none;
}

#toggle {
      position: absolute;
      right: 30px;
      top: 20px;
      font-weight: 300;
      z-index: 2;
      width: 30px;
      height: 30px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

.close-btn {
      position: absolute;
      right: 16px;
      font-weight: 300;
      z-index: 2;
      cursor: pointer;
      top: -2px;
      line-height: 80px;
}

#resize {
      z-index: 1;
      top: 0px;
      position: fixed;
      background: #f1f1f1;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resize #menu {
      height: 90px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 140px;
}

#resize #menu li a {
      color: #111111;
}

#resize #menu li a:hover {
      text-decoration: none;
}

#resize.active {
      visibility: visible;
      opacity: 1;
}

@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
            margin-right: 4px;
      }

      nav #brand {
            margin-left: 24px;
      }

      #menu a {
            font-size: 20px;
            font-weight: 300;
      }

      #resize li span {
            font-weight: bolder;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}

/*--------------- hero section --------------- */
.hero {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.hero h1 {
      font-weight: lighter;
      text-align: center;
      letter-spacing: -2px;
      line-height: 58px;
}

@media(max-width: 768px) {
      .header h1 {
            font-size: 26px;
      }
      /* Zeilenumbruch in H1*/
      .header h1 span::before {
            content: "\A";
            white-space: pre;
          }
}

/*--------------- scroll down icon animation --------------- */
.scroll-down {
      position: absolute;
      left: 50%;
      bottom: 100px;
      display: block;
      text-align: center;
      font-size: 20px;
      z-index: 0;
      text-decoration: none;
      text-shadow: 0;
      width: 13px;
      height: 13px;
      border-bottom: 2px solid #111111;
      border-right: 2px solid #111111;
      -webkit-transform: translate(-50%, 0) rotate(45deg);
      animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
      0% {
            transform: translate(0, -20px) rotate(45deg);
            opacity: 0;
      }
      50% {
            opacity: 1;
      }
      100% {
            transform: translate(0, 20px) rotate(45deg);
            opacity: 0;
      }
}

/*--------------- projects section --------------- */
h2.frontpage {
      /* changed from center to left*/
      text-align: center;
}

.centered {
      text-align: center !important;
      color:grey;
      font-size: 18px;

}

.vertical {
      margin-top: 40px;
      border-left: 1px solid #111111;
      height: 80px;
      position: absolute;
      left: 50%;
}

.project {
      height: auto;
      max-height: 500px;
      min-height: 300px;
}

/* Start Textboxen für Projektbeschreibungen */
.row.project-odd,
.project-straight {
      margin-left: 12% !important;
      margin-right: 12% !important;

}
@media (min-width: 769px) {
      .text_left {
            max-width: 50%;
            width: auto;
            padding-left: 0 !important;
      }

      .text_right {
            max-width: 50%;
            width: auto;
            padding-right: 0 !important;      
      }
}

@media (max-width: 768px) {
      .row.project-straight {
            flex-direction: column;
      }
      .row.project-odd {
            flex-direction: column-reverse;
      }
      .text_left, .text_right, .project-straight .project, .project-odd .project {
            max-width: 100%
      }
      .project-straight .project, .project-odd .project {
            margin-left: 15px;
      }
}
/* Ende Textboxen für Projektbeschreibungen */

/* Start Pointer für Links */
      .wrapper:not(.project-page) .row.project-odd:hover, .wrapper:not(.project-page) .row.project-straight:hover,
      .wrapper:not(.project-page) .row.project-odd:focus, .wrapper:not(.project-page) .row.project-straight:focus {
            cursor: pointer;
      }
/* Ende Pointer für Links */

.project1 {
      background: url(/content/mainPage/kinect.jpg) no-repeat 50% 65%;
      background-size: cover;
      max-width: 50%;
}

.project2 {
      background: url(/content/mainPage/button.jpg) no-repeat 50% 60%;
      background-size: cover;
      max-width: 50%;
      
}

.project3 {
      background: url(/content/mainPage/landkarte.jpg) no-repeat 40% 40%;
      background-size: cover;
      max-width: 50%;
      
}

/* not working */
.project4 {
      background: url(/content/mainPage/soilMoisture.jpg) no-repeat 50% 2%;
      background-size: cover;
      max-width: 50%;
      
}

.project5 {
      background: url(/content/mainPage/temperature.jpg) no-repeat right/100%;
      background-size: cover;
      max-width: 50%;
      
}

.project6 {
      background: url(/content/mainPage/rhinoAnsicht.jpeg) no-repeat left/100%;
      background-size: cover;
      max-width: 50%;
      
}

.project7 {
      background: url(/content/mainPage/mask.gif) no-repeat 50% 25%;
      /* background-size: cover; */
      max-width: 50%;
}

.project8 {
      background: url(/content/mainPage/microphone.gif) no-repeat 50% 30%;
      /* background-size: cover; */
      max-width: 50%;
      
}

.project9 {
      background: url(/content/mainPage/wave.gif) no-repeat 50% 50%;
      background-size: cover;
      max-width: 50%;
      
}

.project10 {
      background: url(/content/mainPage/rfid.jpg) no-repeat 50% 45%;
      background-size: cover;
      max-width: 50%;
      
}

.project11 {
      background: url(/content/mainPage/box.jpg) no-repeat 50% 50%;
      background-size: cover;
      max-width: 50%;
      
}

@media(max-width: 768px) {
      .project {
            width: 90% !important;
            margin: 14px auto;
      }

      .vertical {
            display: none;
      }

      .project1::after, .project2::after, .project3::after, .project4::after {
            display: none;
      }
}

/*--------------- footer section --------------- */

.project-nav .row{
      flex-wrap: nowrap;
}
 .wrapper:not(.project-page) .footer .container {
      padding: 0;
      margin: 0;
      max-width: 100%;
}
 .wrapper:not(.project-page) .footer .container .info .row {
      margin-right: 12%;
      margin-left: 12%;
}
.wrapper:not(.project-page) .footer .container .info .row div {
      padding: 15px;
}
.collab {
      text-align: right;
}

.collab p {
      font-weight: lighter !important;
      margin-bottom: 20px;
}

.hr {
      background: rgba(255, 255, 255, 0.2);
      height: 1px;
}

.info h4 {
      font-size: 18px;
      font-weight: lighter;
}

.info p {
      color: grey;
      font-weight: lighter;
}

.info li {
      font-weight: lighter;
      color: #111111;
      font-size: 18px;
      padding-left: 20px;
}


#media, #address {
      text-align: right;
}

#media ul {
      list-style: none;
}

#media ul li {
      display: inline-block;
}

@media(max-width: 768px) {
      .collab, #personal, #media, #address {
            text-align: center;
      }

      .info ul {
            margin: 0 0 0 -22px;
            padding: 0;
      }
}

/*---------------about page --------------- */

.about {
      height: 500px;
      margin-top: 120px;
}

.image {
      background: url(content/aboutPage/bike.jpeg) no-repeat 50% 50%;
      background-size: cover;
}

/*--------------- contact form --------------- */

#contact-form {
      margin: 5% 1.4%;
}

#contact-form ul {
      list-style: none;
      border-radius: 5px;
      margin-bottom: 40px;
}

#contact-form li {
      padding: 10px;
}

#contact-form li:last-of-type {
      border-bottom: none;
}

#contact-form label {
      display: block;
      font-size: .8em;
      color: #999;
      padding-left: 5px;
}

#contact-form input, #contact-form textarea {
      width: 100%;
      padding: 5px;
      border: none;
      resize: vertical;
      background: transparent;
      color: #111111;
      font-weight: bolder;
}

input:focus {
      outline: none;
      border: none;
}

textarea:focus {
      outline: none;
      border: none;
}

.textarea {
      border-bottom: 1px solid #111111;
}

.send {
      margin-left: 50px;
      text-transform: uppercase;
      padding: 20px 30px;
      background: transparent;
      color: #111111;
      font-size: 14px;
      letter-spacing: 2px;
}

.send:hover {
      background: #111111;
      color: #f1f1f1; 
}

@media(max-width: 768px) {
      #contact-form {
            margin: 5% -8%;
            width: 98%;
      }
}

/*--------------- project page --------------- */

.prev a, .next a {
      color: grey;

}

.prev a:hover, .next a:hover, 
.prev a:active, .next a:active {
      color: grey;
      font-weight: 700;
} 

.prev a {
      float: left;
}

.next a {
      float: right;
}

.project-img .project.image {
      width: 100%;
      height: auto;
      min-height: 300px;
      max-height: 700px;
}

/* Formatierung Code-Boxen */
.code, code {
      padding: 2px 4px;
      color: black !important;
      background-color: #e2e2e2;
      border-radius: 3px;
      font-size: 13px !important;
      font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono";
      width: fit-content;
      line-height: 1.8rem;
}

@media (max-width: 768px){
      .code ,code{
            margin-bottom: 1em;

      }
      .project-page .hero-content .col-lg-4 p {
            margin-bottom: .3em;
      }
}

.credits {
      color: black;
      font-size: 13px;
      font-weight: lighter;
      opacity: .8;
}
/* Credits auf Startseite an Bildende */
.row.project-straight .project, .row.project-odd .project {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
}

.row.project-straight .credits, .row.project-odd .credits {
      margin: 0;
} 

.footer .container .info .row div {
      padding: 0px;
}

/* Project 1 */

/* .project-page .hero-content .row{
      padding-right: 0;
      padding-left: 0;
      max-width: 100%;
      margin-right: 12% !important;
      margin-left: 12% !important;
} */

.project-img .col-md-12 .project1-image1{
      background: url(/content/projectPage/Nr1/kinect.jpg) no-repeat 50% 50%;
      background-size: cover;
}
.project-img .col-md-12 .project1-image2{
      background: url(/content/projectPage/Nr1/pointTracker.gif) no-repeat 50% 50%;
      /* background-size: cover; */
}

/* Project 2 */

.project-img .col-md-12 .project2-image1{
      background: url(/content/projectPage/Nr2/arduinoButton.jpg) no-repeat 50% 50%;
      background-size: cover;
}
.project-img .col-md-12 .project2-image2{
      background: url(/content/projectPage/Nr2/button.gif) no-repeat 50% 50%;
      /* background-size: cover; */
}

/* Project 3 */

.project-img .col-md-12 .project3-image1{
      background: url(/content/projectPage/Nr3/landkarte.jpg) no-repeat 50% 50%;
      background-size: cover;
}

/* Project 4 */

.project-img .col-md-12 .project4-image1{
      background: url(/content/projectPage/Nr4/bewässerung.jpg) no-repeat 50% 50%;
      background-size: cover;
}

/* Project 5 */

.project-img .col-md-12 .project5-image1{
      background: url(/content/projectPage/Nr5/Bauplan.png) no-repeat 50% 50%;
      background-size: cover;
}
.project-img .col-md-12 .project5-image2{
      background: url(/content/projectPage/Nr5/temperatur.jpg) no-repeat 50% 50%;
      /* background-size: cover; */
}
.project-img .col-md-12 .project5-image3{
      background: url(/content/projectPage/Nr5/StadtplanV2.png) no-repeat 50% 50%;
      /* background-size: cover; */
}

/* Project 6 */

.project-img .col-md-6 .project6-image1{
      background: url(/content/projectPage/Nr6/RhinoAnsicht.jpeg) no-repeat 50% 50%;
      background-size: cover;
}
.project-img .col-md-6 .project6-image2{
      background: url(/content/projectPage/Nr6/RenderAnsicht.jpeg) no-repeat 50% 50%;
      /* background-size: cover; */
}
.project-img .col-md-12 .project6-image3{
      background: url(/content/projectPage/Nr6/hydroponics.gif) no-repeat 50% 50%;
      /* background-size: cover; */
}

/* Project 7 */

.project-img .col-md-12 .project7-image1{
      background: url(/content/projectPage/Nr7/sculpture2D.gif) no-repeat 50% 50%;
      background-size: cover;
}
.project-img .col-md-12 .project7-image2{
      background: url(/content/projectPage/Nr7/sculpture3D.gif) no-repeat 50% 50%;
      background-size: cover;
}

/* Project 8 */

.project-img .col-md-12 .project8-image1{
      background: url(/content/projectPage/Nr8/koordinatensystem01.jpg) no-repeat 50% 50%;
      background-size: cover;
}
.project-img .col-md-12 .project8-image2{
      background: url(/content/projectPage/Nr8/mesh_red.gif) no-repeat 50% 50%;
      background-size: cover;
}
.project-img .col-md-12 .project8-image3{
      background: url(/content/projectPage/Nr8/installation.jpeg) no-repeat 50% 50%;
      background-size: cover;
}

/* Project 9 */

.project-img .col-md-12 .project9-image1{
      background: url(/content/projectPage/Nr9/shortest_sharp.gif) no-repeat center/50%;
      /* background-size: cover; */
}
.project-img .col-md-12 .project9-image2{
      background: url(/content/projectPage/Nr9/Beamer01.jpeg) no-repeat 50% 50%;
      background-size: cover;
}

/* Project 8 */

.project-img .col-md-12 .project10-image1{
      background: url(/content/projectPage/Nr10/bauplan.jpg) no-repeat 50% 50%;
      background-size: cover;
}
.project-img .col-md-12 .project10-image2{
      background: url(/content/projectPage/Nr10/rfidScanner.jpg) no-repeat 50% 50%;
      background-size: cover;
}
.project-img .col-md-12 .project10-image3{
      background: url(/content/projectPage/Nr10/scanning.gif) no-repeat 50% 50%;
      background-size: cover;
}

/* Project 9 */

.project-img .col-md-12 .project11-image1{
      background: url(/content/projectPage/Nr11/bauplan.jpg) no-repeat center/50%;
      /* background-size: cover; */
}
.project-img .col-md-12 .project11-image2{
      background: url(/content/projectPage/Nr11/boxVorne.jpg) no-repeat 50% 50%;
      background-size: cover;
}
.project-img .col-md-12 .project11-image3{
      background: url(/content/projectPage/Nr11/boxSeite.jpg) no-repeat 50% 50%;
      background-size: cover;
}
